/* Bugzilla Template */

/* mozilla.org Cavendish Template Styles
 * Initial Design by Daniel Burka and Steven Garrity
 * Modified for bugzilla.org 09/05/2004
*/

/* Basic Structure */
	body {
		background: #fff url("../img/body_back.gif") repeat-x;
	}

/* Header */

	#header {
		background: #455372 url("../img/header_bl.png") bottom left repeat-x;
		position: relative;
		min-height: 39px;
		height: 5em;
		padding: 0;
		voice-family: "\"}\"";
		voice-family: inherit;
		height: 3em;
		padding: 15px 0;
	} #ignored {}

	#header h1 {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		font-size: 2px;
		background: url("../img/header_tl.gif") no-repeat;
		height: 8px;
		z-index: 100; /* above the UL */
	}
	#header h1 a {
		display: block;
		width: 187px;
		height: 69px;
		margin-top: -9px;
		margin-left: 14px;
		background: transparent url("../img/bugzilla.png") no-repeat;
		text-indent: -700em;
		text-decoration: none;
	}
	#header ul {
		width: auto;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0;
		padding: 0 15px 0 0;
		list-style: none;
		background: url("../img/header_br.gif") no-repeat bottom right;
		z-index: 90; /* below the H1 */
	}
	#header li {
		float: right;
		background: transparent url("../img/header_tab.gif") 100% -600px no-repeat;
		padding: 0 6px 0 0;
		margin: 0 1px 0 0;
		border-bottom: 1px solid #515358;
	}
	#header ul a {
		float: left;
		display: block;
		padding: 4px 4px 4px 10px;
		background: transparent url("../img/header_tab.gif") 0% -600px no-repeat;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
	}
	#header ul li:hover a { background-position: 0% -400px; }
	#header ul li:hover { background-position: 100% -400px; }

	body.sectionAbout li#menu_aboutus,
	body.sectionProducts li#menu_products,
	body.sectionSupport li#menu_support,
	body.sectionDevelopers li#menu_developers {
		background-position: 100% -200px;
	}

	body.sectionAbout li#menu_aboutus a,
	body.sectionProducts li#menu_products a,
	body.sectionSupport li#menu_support a,
	body.sectionDevelopers li#menu_developers a {
		background-position: 0% -200px;
		color: #039;
	}

	body.sectionAbout li#menu_aboutus,
	body.sectionProducts li#menu_products,
	body.sectionSupport li#menu_support,
	body.sectionDevelopers li#menu_developers {
		border-bottom: 1px solid #fff;
	}

    body.sectionAbout li#menu_aboutus:hover,
	body.sectionProducts li#menu_products:hover,
	body.sectionSupport li#menu_support:hover,
	body.sectionDevelopers li#menu_developers:hover {
		background-position: 100% 0%;
	}

	body.sectionAbout li#menu_aboutus:hover a,
	body.sectionProducts li#menu_products:hover a,
	body.sectionSupport li#menu_support:hover a,
	body.sectionDevelopers li#menu_developers:hover a {
		background-position: 0% 0%;
		color: #333;
	}

/* Search Field */

	#header form {
		position: absolute;
		top: 0;
		right: 0;
		padding: 12px 20px 0 0;
		background: url("../img/header_tr.gif") no-repeat top right;
		margin: 0; /* need for IE Mac */
		text-align: right; /* need for IE Mac */
		white-space: nowrap; /* for Opera */
	}
	#header form label { color: #fff; font-size: 85%; }
	#header form input { font-size: 85%; }

	#header form #submit {
		font-size: 85%;
		background: #6A7389;
		color: #fff;
		padding: 1px 4px;
		border-right: 1px solid #283043;
		border-bottom: 1px solid #283043;
		border-top: 1px solid #9097A2;
		border-left: 1px solid #9097A2;
	}

	#header form #q {
		width: 170px;
		font-size: 85%;
		border:	1px solid #9097A2;
		background: #D9DBE1;
		padding: 2px;
	}
	#header form #q:hover, #header form #q:focus {
		background: #fff;
	}

/* Sidebar */

	#nav:before {
		line-height: 0.1;
		font-size: 1px;
		background: transparent url("../img/menu_tr.gif") no-repeat top right;
		margin: 0;
		height: 9px;
		display: block;
		border-bottom: 1px solid #ddd;
		content: url("../img/key-point_tl.gif");
	}
	#nav {
		background: #E0E9E9 url("../img/menu_back.gif") right repeat-y;
	}
	#nav:after {
		display: block;
		clear: both;
		padding-top: 0;
		line-height: 0.1;
		font-size: 1px;
		content:  url("../img/key-point_bl.gif");
		margin: 0 0 0 0;
		height: 8px;
		background: transparent url("../img/menu_br.gif") scroll no-repeat bottom right ;
		border-top: 1px solid #fff;
	}

	#nav, #nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#nav {
		margin-bottom: 1em;
	}
	#nav li {
		display: inline;
		padding: 0;
		margin: 0;
	}

	#nav li span { /* used for un-linked menu items */
		display: block;
		padding: 6px 10px;
		font-weight: bold;
		color: #666;
	}

	#nav li span#configParent, #nav li span #configuration {
		display: inline;
		font-weight: normal;
		padding: 0;
	}

	#nav li a {
		display: block;
		padding: 6px 10px;
		text-decoration: none;
		background: #EDF2F2;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #fff;
		border-right: 1px solid #ddd;
	}

	#nav li a:hover {
		background: #E0E9E9;
	}

	#nav li li a {
		padding: 4px 8px 4px 20px;
	}

	#oN {
		background-color: #E0E9E9;
	}
	#oN:hover {
		background-color: #C6DCDC;
	}

/* Footer */

	#footer {
		border-top: 1px solid #666;
		margin: 2em 0;
		padding: 1em 0;
		text-align: center;
        clear: both;
	}

	#footer ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	#footer li {
		display: inline;
	}

	#footer span,#footer a {
		white-space: nowrap;
		padding: 0 1em;
	}

	#footer p span,#footer p a {
		white-space: nowrap;
		padding: 0;
	}

	#footer span a {
		padding: 0;
	}

	#footer p,#footer p a {
		color: #666;
	}

	#footer p a:hover {
		color: #000;
	}

/* Bugzilla-specific Styles */
img.photo
{
	border:2px outset #999;
	float:right;
	margin:0 0 5px 5px;
}
table.reviewers
{
	border:1px solid #ccc;
	margin-bottom:1em;
}
table.reviewers th
{
	background:#ccc;
	font-weight:bold;
}
table.reviewers td
{
	padding:.2em;
}
table.reviewers tr.r1
{
	background:#eee;
}
.changelist a { margin-left: 5px; margin-right: 5px; }
.changelist tr td { height: 20px; text-align: center; font-size:10px; white-space: nowrap; }

#mainContent {
    margin-top: 1em;
}

.console
{
    color: #fff;
    background:#000;
    padding:.2em;
}
.console .in
{
    color:#ff0;
}
.file
{
    background:#fffbf0;
    border:1px solid #888;
    padding:.2em;
}
.file .diff
{
    background:#ffa;
}
.webpage {
    background-color: #fff;
    border: 1px solid #888;
    padding:.2em;
    margin-bottom: 1em;
}
.webpage .prefsTitle {
    float: left;
    font-weight: bold;
}
.webpage .prefsBlurb {
    margin-left: 100px;
}
.webpage .prefsInput {
    background-color: #eee;
    border: 1px solid #888;
    padding: 1px;
    width: 300px;
    margin-left: 100px;
}

.stableRelease {
    background-color: #eee;
}

/* For Release Notes in Bugzilla 3.0 and above. */
.req_new {
    color: red;
}

.req_table, #language_table {
    border-collapse: collapse;
}

.req_table td, .req_table th, #language_table th, #language_table td {
    border: 1px solid black;
    padding: .25em;
}

/* For the Consultants page. */
#vendor_list li { margin-bottom: 1em; }

/* For reviewer-list.html. Perhaps these could be used elsewhere
 * in the future. */
.ReviewerTable {
    table-layout: auto;
    border-collapse: collapse;
}
.ReviewerTable td, .ReviewerTable th {
    padding: .15em .5em;
    border: 1px solid #ccc;
}
.ReviewerTable tbody th {
    text-align: right;
}
.ReviewerList {
    font-family: monospace;
    font-size: 130%;
}
.ReviewerList li {
    margin: .3em;
}
kbd {
    font-size: 130%;
}
code {
    white-space: normal;
}

/* A little hack to get the tables to
   align correctly and look nice in Gecko. IE
   users can suffer. */
html>body .ReviewerTable td {
    font-family: monospace;
    font-size: 130%;
    text-align: right;
}
html>body .ReviewerTable td + td,
html>body .ReviewerTable th + td {
    font-family: inherit;
    font-size: inherit;
    text-align: left;
}
/* Oh, how I wish I had some nth-child selectors. */
/* Once again, IE users can suffer. */
.ReviewerTable thead tr {background-color: #ddd;}
.ReviewerTable tr {background-color: white;}
.ReviewerTable tr + tr {background: #eee;}
.ReviewerTable tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: white;}
.ReviewerTable tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr {background-color: #eee;}

