---
layout: base
addons:
- type: js
  link: /assets/js/header.js
header:
  type: sticky
  big: True
  class: bg-bugzilla sticky
---

<div id="frontpage-intro" class="bg-bugzilla">
  <div class="inner">
    <div class="">
      <h2>The software solution designed to drive software development</h2>
      <lead>Bugzilla lets you plan, organize and release software on your own teams' schedule.</lead>
      <div>
        <a class="button" href="/about/">Learn more &raquo;</a>
        <a class="button" href="https://bugzilla-dev.allizom.org/">Try it out &raquo;</a>
      </div>
    </div>
    <div class="buggie-wave-container">
      {% include buggie-wave.svg %}
      {% include buggie-wave-hand.svg %}
      <img class="buggie-wave-image" alt="A screenshot of the default look of the Bugzilla 6.0 homepage" src="/assets/img/screenshot.svg">
      {% include buggie-wave-hand-overlay.svg %}
    </div>
  </div>
</div>

<div id="donations" class="bg-bugzilla">
  <div class="inner">
    <lead>Bugzilla is now independently funded by people like you and companies that believe in our mission</lead>
    <a href="/donate" class="button primary">Sponsor Us!</a>
  </div>
</div>

<section id="frontpage-blog-list">
  <div class="inner">
    <h2>Blog</h2>
    <ul>
    {% for post in site.posts limit:3 %}
      <li>
        <div class="card">
          <p class="date muted">{{ post.date | date: '%d. %B %Y' }}</p>
          <a href="{{ post.url }}"><h3 class="title">{{ post.title }}</h3></a>
          {% include authors.html authors=post.author %}
          <p>{{ post.content | strip_html | truncate: 200 }}</p>
        </div>
      </li>
    {% endfor %}
    </ul>
    <div>
      <a class="button primary" href="/blog/">More news &raquo;</a>
    </div>
  </div>
</section>

<section id="frontpage-performant">
  <img class="running-fg" alt="Buggie, the Bugzilla mascot, in a running outfit, consisting of a white sleveless top with red bands around arm holes, dark gray shorts with a red band around the waist and purple shoes with white soles. Its antennas are blown back with the wind. It has a slight smile on its face." src="/assets/img/running-fg.svg"/>
  <div class="inner">
    <div><h2>Performant, scalable and secure</h2></div>
    <div>Tried and tested by the largest in open source, so you don't have to deal with frustrating breaks in workflow.</div>
  </div>
</section>

<section id="frontpage-benefits">
  <div class="inner">
    <h2>Benefits</h2>
    <ul>
      <li>
        {% include icons/service.svg %}
        <h3>Improve product quality</h3>
      </li>
      <li>
        {% include icons/communication.svg %}
        <h3>Upgrade the communication</h3>
      </li>
      <li>
        {% include icons/medal.svg %}
        <h3>Increase productivity</h3>
      </li>
    </ul
  </div>
</section>

<section id="frontpage-search">
  <div class="inner">
    <h2>Features</h2>
    <ul>
      <li>
        <h3>Advanced Search</h3>
        <p>Search and find for the exact thing you are looking for</p>
      </li>
      <li>
        <h3>Products and Components</h3>
        <p>Categorize and track the issues based on products and components</p>
      </li>
      <li>
        <h3>Milestones</h3>
        <p>Track the progress on the past, current and future releases of your products</p>
      </li>
      <a class="button primary" href="/about/features.html">More features &raquo;</a>
    </ul>
    <div class="search-image">
      <div class="search">
        {% include fox-tracks.svg %}
      </div>
      <img alt="A screenshot of the Advanced Search feature in Bugzilla 6.0, listing items for Firefox 78 milestone." src="/assets/img/screenshot-milestone.svg">
    </div>
  </div>
</section>

<section id="frontpage-action">
  <div class="inner">
    <div>
      <h2>Bugzilla in Action</h2>
      <p>The following open source companies and projects trusted Bugzilla and continue to use it for delivering their software to the customers and communities all around the world.</p>
      <a class="button primary" href="/about/installation-list.html">See who else uses Bugzilla &raquo;</a>
    </div>
    <div>
      <ul>
      {%- for project in site.data.installation-list %}
        {%- if project.logo != '' %}
          <li>
            <a href="{{ project.bzurl }}" title="{{ project.name }}">
              {% include free-software-logos/{{ project.logo }} %}
              <span class="sr-only">{{ project.name }}</span>
            </a>
          </li>
        {% endif -%}
      {% endfor -%}
      </ul>
    </div>
  </div>
</section>

<section id="frontpage-download">
  <div class="inner">
    <h3>Ready to get started? Let's get you your own Bugzilla</h3>
    <div>
      <a class="button primary" href="/download/">{% include icons/download.svg %}Installation Instructions</a>
    </div>
  </div>
</section>
