{% comment %}
   # release: hashref from the "releases" data in _data/releases.json
{% endcomment %}

{% assign version = include.release.current %}
{% assign filename = "bugzilla-" | append: version | append: ".tar.gz" %}

<div class="download">
    <h3>Download</h3>
    <a href="https://ftp.mozilla.org/pub/mozilla.org/webtools/{{ filename }}" 
       class="downloadLink">Bugzilla {{ version }}</a>
</div>

<p>Patches to manually upgrade an earlier install of this branch to
{{ version }} can be found
<a href="https://ftp.mozilla.org/pub/mozilla.org/webtools/">on the FTP
server</a>.
</p>
