<div id="header">
  <h1><a href="/" title="Return to Bugzilla home page" accesskey="1">Bugzilla</a></h1>
  <div id="tools">
    <ul id="mainNav">
      <li><a href="/contribute/" title="How to Help">Contribute!</a></li>
      <li><a href="/features/" title="Bugzilla features">Features</a></li>
      <li><a href="/download/" title="Get Bugzilla for free">Download</a></li>
      <li><a href="/support/" title="Where to get more help">Support</a></li>
      <li><a href="/docs/" title="Bugzilla documenation">Docs</a></li>
      <li><a href="/news/" title="Read about what is happening with Bugzilla">News</a></li>
      <li><a href="/about/" title="Getting the most out of your online experience">About</a></li>
    </ul>
    <form id="search" method="get" action="https://www.google.com/cse">
      <div id="sf">
        <label for="q" title="Search bugzilla.org">search bugzilla.org: </label>
        <input type="hidden" name="cx" value="008043952663535741821:9whwb87ip5a">
        <input type="text" id="q" name="q" accesskey="s" size="30">
        <input type="submit" id="submit" value="go">
      </div>
    </form>
  </div>
</div>
