<div id="side">
<ul id="nav">
<li>
	<a href="/about/" title="Find out more about Bugzilla."><strong>About</strong></a>
	<ul>
                <li><a href="/features/">Features</a></li>
                <li><a href="/requirements/">Requirements</a></li>
		<li><a href="/docs/" title="Read the Bugzilla manual and other important documents.">Documentation</a></li>
		<li><a href="/releases/" title="Information on current and previous releases.">Release Information</a></li>
		<li><a href="/installation-list/" title="Hundreds of companies and organizations trust Bugzilla.">Who Uses Bugzilla?</a></li>
		<li><a href="/developers/profiles.html" title="Meet the Bugzilla team.">Meet the Team</a></li>
	</ul>
</li>
<li>
	<a href="/news/" title="Get the low down on what's happening with the project."><strong>News</strong></a>
	<ul>
		<li><a href="http://planet.bugzilla.org" title="View the status of the Bugzilla project.">Planet Bugzilla</a></li>
		<li><a href="/security/" title="Important updates regarding Bugzilla security.">Security Advisories</a></li>
	</ul>
</li>
<li>
        <a href="/download/" title="Download Bugzilla"><strong>Download</strong></a>
        <ul>
                <li><a href="https://wiki.mozilla.org/Bugzilla:Addons" title="Third-party Bugzilla extensions">Third Party Extensions</a></li>
        </ul>
</li>
<li>
	<a href="/support/" title="Find out where to get more information and help."><strong>Support</strong></a>
	<ul>
                <li><a href="/support/" title="Find out where to get more information and help.">Free Support</a></li>
                <li><a href="/support/consulting.html" title="Paid support options">Paid Support</a></li>
	</ul>
</li>
<li>
        <a href="/contribute/" title="Ways you can help Bugzilla"><strong>Contribute</strong></a>
        <ul>
		<li><a href="/developers/reporting_bugs.html" title="Let us know if there is an error in Bugzilla.">Report a Bug</a></li>
		<li><a href="/developers/" title="Developer resources">Developer Resources</a></li>
		<li><a href="https://wiki.mozilla.org/Bugzilla" title="Collaboratively updated information about Bugzilla.">Wiki</a></li>
        </ul>
</li>
</ul>

<div>
<p><a href="https://twitter.com/bugzilla">Follow @bugzilla on Twitter</a></p>
<p><a href="https://www.facebook.com/pages/Bugzilla/1427568330846442">Like Bugzilla on Facebook</a></p>
</div>
</div>
