[%
   # Load the sitemap once per build and cache it for reuse on each page.
   IF !global.cached.xpath;
     USE xpath = XML.XPath("lib/sitemap.xml");
     global.cached.xpath = xpath;
   END;

   BLOCK breadcrumbs;
     my_id = "${template.name}"|replace('/index.html|.html','')|replace('^.+/','');
     nodes = [global.cached.xpath.findnodes("//page[@id='$my_id']")];

     PROCESS crumb crumbs=[] node=nodes.0;

     u = "";
     FOREACH crumb IN crumbs.reverse;
       IF loop.first;
         "<a href=\"/\">Home</a> ";
       END;

       " &#187; ";

       IF loop.last;
         "<span>$crumb.title</span>";
       ELSE;
         u = "$u/$crumb.id";
         "<a href=\"$u\">$crumb.title</a>";
       END;
     END;
   END;

   BLOCK crumb;
     IF node && node.getName() == "page";
       crumbs.push({ title => node.getAttribute("title"),
                     id    => node.getAttribute("id") });
       PROCESS crumb node=node.getParentNode();
     END;
   END;
%]
