[%#
    Page footer used for all pages on the site.
%][% USE date %]
    </div>
  <!-- closes #container -->
  <div id="footer">
    <ul>
      <li><a href="https://www.mozilla.org/contact/">Contact Us</a></li>
      <li><a href="https://donate.mozilla.org/page/contribute/bugzilla">Donate</a></li>
    </ul>
<!-- Creative Commons License -->
<p class="copyright">This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.0/">Creative Commons License</a>.</p>

<!--

<rdf:RDF xmlns="http://web.resource.org/cc/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <dc:type rdf:resource="http://purl.org/dc/dcmitype/Text" />
   <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.0/" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/by-sa/2.0/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
</License>

</rdf:RDF>

-->
<!-- /Creative Commons License -->

    <p class="copyright">Portions of this work are &copy;
      1998-[% date.format(template.date,'%Y') FILTER html %]
      by individual bugzilla.org contributors.</p>
    <p>
      <span>Last modified [% date.format(template.modtime,'%B %e, %Y') FILTER html %]</span>
      <span><a href="http://git.mozilla.org/?p=www/bugzilla.org.git;a=history;f=src/[% template.name FILTER html %]">Document History</a></span>
    </p>
  </div>
</body>
</html>
