<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
{% include head.html %}
<body id="www-bugzilla-org" class="homepage">
  <div id="container">
    <p class="skipLink"><a href="#mainContent" accesskey="2">Skip to main content</a></p>
    {% include header.html %}
    <hr class="hide">
    <div id="mBody">
      <hr class="hide">
      {% include nav.html %}
      <div id="mainContent">
        {{ content }}
      </div>
      {% include footer.html page=page %}
    </div>
  </div>
</body>
</html>
