---
layout: default
---

<ul>
{% if content != '' %}
  <li><a href="#release-notes">Release Notes for Bugzilla {{ page.version }}</a></li>{% endif %}
{% if page.advisory %}{% for advisory in page.advisory %}
  <li><a href="/security/{{ advisory.url }}/">Security Advisory for versions before {{ advisory.version }}</a></li>{% endfor %}{% endif %}
{% if page.branch %}
  <li><a href="/download/#v{{ page.branch | replace: '.', '' }}">Download Bugzilla {{ page.version }}</a></li>
  <li><a href="https://github.com/bugzilla/bugzilla/compare/{{ page.branch }}">Complete changelogs since prior versions</a></li>{% endif %}
</ul>

{% if content != '' %}
<h1 id="release-notes">Release Notes</h1>

{{ content }}
{% endif %}
