---
layout: default
---

{{ page.date | date: '%A, ' }}{{ page.date | date_to_string: "ordinal", "US" }}<br/>
{% if page.bugs %}
<pre>
Summary
=======

Bugzilla is a Web-based bug-tracking system used by a large number of
software projects. The following security issue has been discovered
in Bugzilla:
{% for bug in page.bugs %}
* {{ bug.summary }}
{% endfor %}
All affected installations are encouraged to upgrade as soon as
possible.


Vulnerability Details
=====================
{% for bug in page.bugs %}
{% if bug.class %}Class:       {{ bug.class }}{% endif %}
{% if bug.affected %}Versions:    {{ bug.affected }}{% endif %}
{% if bug.fixed-in %}Fixed In:    {{ bug.fixed-in }}{% endif %}
{% if bug.description %}Description: {{ bug.description }}{% endif %}
{% if bug.references %}References:  {{ bug.references }}{% endif %}
{% if bug.cve %}CVE Number:  {{ bug.cve }}{% endif %}
{% endfor %}

Vulnerability Solutions
=======================

The fix for this issue is included in the {{ page.fixed-in }}
releases. Upgrading to a release with the relevant fix will
protect your installation from possible exploits of this issue.

If you are unable to upgrade but would like to patch just the security
vulnerability, there are patches available for the issue at the
"References" URL.

Full release downloads, patches to upgrade Bugzilla from previous
versions, and git upgrade instructions are available at:

  https://www.bugzilla.org/download/


Credits
=======

The Bugzilla team wish to thank the following people for their
assistance in locating, advising us of, and assisting us to fix this
issue:
{% for bug in page.bugs %}
{% capture pre %}{% if forloop.length > 1 %}Issue {{ forloop.index }} {% endif %}{% endcapture %}
{{ pre }}Reporter: {{ bug.reported-by }}
{{ pre }}Fixed by: {{ bug.fixed-by }}
{% endfor %}
General information about the Bugzilla bug-tracking system can be found
at:

  https://www.bugzilla.org/

Comments and follow-ups can be directed to the mozilla.support.bugzilla
newsgroup or the support-bugzilla mailing list.
https://www.bugzilla.org/support/ has directions for accessing these
forums.
</pre>
{% endif %}
{{ content }}
