---
title: "Download"
---

{% assign releases = site.data.releases %}

<h1>Download</h1>
<ul>
  <li><a href="#howtoget">How To Get Bugzilla</a></li>
  <li><a href="#addons">Bugzilla Addons</a></li>
  <li><a href="#localizations">Localized Templates</a></li>
  <li><a href="#manual">Manual Downloads</a>
  <ul>
    <li><a href="#stable">Stable Release</a></li>
    {% if releases.dev.rc == 1 %}
      <li><a href="#candidate">Stable Release Candidate</a></li>
    {% elsif releases.dev %}
      <li><a href="#devel">Development Snapshot</a></li>
    {% endif %}
    <li><a href="#oldstable">Old Stable Release</a></li>
    <li><a href="#archives">Archives</a></li>
  </ul>
</ul>


<a name="howtoget"></a>
<h2>How To Get Bugzilla</H2>

<p><b>By far best way to get, maintain and upgrade Bugzilla is as a checkout
   from the appropriate branch of our source code control system.</b> This
   is true of both stable and development versions. Instructions on how to
   do this are in the
   <a href="https://bugzilla.readthedocs.org/en/latest/installing/">Installation
   and Maintenance Guide</a>. That document also explains how to upgrade
   Bugzilla to a new version, move a Bugzilla installation between machines,
   and migrate from other bug-tracking systems.</p>

<p>If you are installing a new Bugzilla, the latest stable release series (and
   so the one you should choose unless you have a good reason for doing
   otherwise) is the <b>{{ releases.stable.branch }}</b> series. You will need
   this information when following the installation instructions.</p>

<p>If you are upgrading, note that you can upgrade directly from <em>any</em>
   old Bugzilla version to any new release&mdash;you do not have to go via
   the releases in between. You should upgrade to the latest stable series,
   <b>{{ releases.stable.branch }}</b>, and read the
   <a href="../releases/{{ releases.stable.current }}/release-notes.html">Release
   Notes</a>. If you want to know exactly what's changed from one version to
   the next, you can <a href="../status/changes.html">view checkin logs</a>.
   </p>

<p>Bugzilla is licensed under the
   <a href="https://www.mozilla.org/MPL/2.0">Mozilla Public License 2.0</a>,
   and is thus both
   <a href="http://www.gnu.org/philosophy/free-sw.html">free</a> and
   <a href="http://opensource.org/osd">open source</a> software.</p>


<a name="addons"></a>
<h2>Bugzilla Addons</h2>

<p>For a list of programs that can enhance and interact with Bugzilla in
  various ways, see our
  <a href="https://wiki.mozilla.org/Bugzilla:Addons">Addons list</a>.</p>


<a name="localizations"></a>
<h2>Localized Versions</h2>

<p>Bugzilla uses a template system and those templates can be translated into
other languages. This is a list of currently-known localizations of the Bugzilla UI. These
are third-party contributions, so if you need help with any of them, please contact
the maintainer of the particular localization.</p>

<p>The short version of how to install/use these is at the end of the
<a href="https://bugzilla.readthedocs.org/en/latest/localizing/index.html">Localization Guide</a>.</p>

<table id="language_table">
  <tr>
    <th rowspan=2>Tag</th>
    <th rowspan=2>Language</th>
    <th colspan=3 width=200>Available versions</th>
    <th rowspan=2>Maintainer</th>
  </tr>
  <tr>
    <th align=left>4.4</th>
    <th align=left>5.0</th>
    <th align=left>6.0</th>
  </tr>
  <tr>
    <th>bg</th>
    <td>
      <a href="ftp://sotirov-bg.net/pub/contrib/mozilla/bugzilla/l10n/">Български език / Bulgarian</a>
    </td>
    <td>4.4.13</td>
    <td>5.0.6</td>
    <td>&nbsp;</td>
    <td>Георги Д. Сотиров (Georgi D. Sotirov)</td>
  </tr>
  <tr>
    <th>cs</th>
    <td><a href="http://www.bugzilla.cz/">Čeština/Czech</a></td>
    <td>4.4.x</td>
    <td>5.0.x</td>
    <td>&nbsp;</td>
    <td>Norbert Volf</td>
  </tr>
  <tr>
    <th>de</th>
    <td><a href="http://bugzilla-de.sourceforge.net/">Deutsch / German</a></td>
    <td>4.4.11</td>
    <td>5.0.2</td>
    <td>&nbsp;</td>
    <td>Marc Schumann</td>
  </tr>
  <tr>
    <th>es</th>
    <td><a href="https://sourceforge.net/projects/bugzilla-es/">Español / Spanish</a></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Oscar Manuel Gómez Senovilla</td>
  </tr>
  <tr>
    <th>fr</th>
    <td><a href="http://www.bugzilla.fr/">Français / French</a></td>
    <td>4.4.12</td>
    <td>5.0.3</td>
    <td>5.1.1</td>
    <td>Cédric Corazza</td>
  </tr>
  <tr>
    <th>ja</th>
    <td><a href="http://bug-ja.org/">日本語 / Japanese</a></td>
    <td>4.4.11</td>
    <td>5.0.2</td>
    <td>&nbsp;</td>
    <td>Atsushi Shimono</td>
  </tr>
  <tr>
    <th>pl</th>
    <td><a href="http://www.aviary.pl/projekty/bugzilla/">Polski / Polish</a></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Aviary.pl team</td>
  </tr>
  <tr>
    <th>ru</th>
    <td><a href="https://sourceforge.net/projects/bugzilla-ru/">Русский / Russian</a></td>
    <td>4.4.4</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Виталий Федрушков (Vitaly Fedrushkov), Alexander L. Slovesnik, Alexey Gladkov</td>
  </tr>
  <tr>
    <th>zh_TW</th>
    <td><a href="https://code.google.com/p/bugzilla-tw/">繁體中文/ Chinese (Traditional)</a></td>
    <td>4.4.11</td>
    <td>5.0.2</td>
    <td>&nbsp;</td>
    <td>Repeat Yang</td>
  </tr>
</table>

<br>

<p>If you have additions or corrections for this list, please contact the
<a href="https://wiki.mozilla.org/Bugzilla:L10n">Bugzilla l10n team</a>.</p>

<p>If your language is not listed here, do not give up. Look at the
<a href="https://wiki.mozilla.org/Bugzilla:L10n:Localization_Teams">list of all known localization efforts</a>.
Listed there are works in progress, older releases for unsupported Bugzilla versions,
and orphaned projects. We don't advise using unsupported releases, but it may be a good
place to start if you want to bring a localization up to date.</p>

<a name="manual">
<h2>Manual Downloads</h2>

<p>Again, the best way to get Bugzilla is to follow the instructions in the
<a href="https://bugzilla.readthedocs.org/en/latest/installing/">Installation
and Maintenance Guide</a>, which use the 'git' version control system. However,
if you do need to download a tarball, here they are:

<a name="stable"></a>
<a name="v{{ releases.stable.branch | replace: '.', '' }}"></a>
<h3>Stable Release ({{ releases.stable.current }})</h3>

{% include dl.html mode = 'stable' release = releases.stable %}

<a name="candidate"></a>
<a name="devel"></a>
<a name="v{{ releases.dev.branch | replace: '.', '' }}"></a>

{% if releases.dev.rc == 1 %}
  <h3>Stable Release Candidate ({{ releases.dev.current }})</h3>

  {% include dl.html mode = 'rc' release = releases.dev %}
  
{% elsif releases.dev %}
  <h3>Development Snapshot ({{ releases.dev.current }})</h3>

  {% include dl.html mode = 'dev' release = releases.dev %}
  
{% endif %}

<a name="oldstable"></a>
<a name="v{{ releases.old.branch | replace: '.', '' }}"></a>
<h3>Old Stable Release ({{ releases.old.current }})</h3>

{% include dl.html mode = '' release = releases.old %}

<a name="archives"></a>
<a name="v212"></a><a name="v214"></a><a name="v216"></a>
<a name="v218"></a><a name="v220"></a><a name="v222"></a>
<a name="v224"></a>
<a name="v30"></a><a name="v32"></a><a name="v34"></a>
<a name="v36"></a>
<a name="v40"></a><a name="v42"></a>
<h3>Archives</h3>

<p>If for some reason you need a very old version of Bugzilla,
  you can download tarballs from the
  <a href="https://ftp.mozilla.org/pub/mozilla.org/webtools/">Bugzilla FTP site</a>.</p>
